body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    background-color: #1C0E2F;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E1452;
    top: 0;
    z-index: 99;
    height: 50px;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

nav .logo {
    width: 70px;
    margin: 0 30px;
}

.btn{
    display: inline-block;
    background-color: #E6CC00;
    color: #2E1452;
    text-decoration: none;
    font-weight: bold;
    
}

nav .btn{
    border-radius: 8px;
    padding: 10px 15px;
    margin: 0 10px 0;
}

.jumbotron {
    display: flex;
    align-items: flex-end;
    background-color: #2E1452;
    margin-top: -17px;
    height: 300px;
    padding: 0 50px 20px;
}

.jumbotron div{
    width: 60%;
}

aside{
    background-color: #3D1C6A;
    width: 25%;
    position: absolute;
    top: 200px;
    right: 50px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E1452;
    padding: 10px 15px;
    margin: 14px 0 0;
    border-radius: 8px;
}

.label-tix{
    font-size: 12px;
    color: #C1C1C1;
    margin: 0;
}

.price-tix{
    font-size: 18px;
    margin: 0;
}

.ticket .btn{
    padding: 8px;
    border-radius: 5px;
}

.total-est {
    margin: 30px -8% -8%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: #2E1452;
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.2);;
    padding: 10px 30px 20px;
}

.total-est .btn{
    padding: 10px;
    border-radius: 8px;
}

.content{
    width: 60%;
    padding: 20px 50px;
}

.thumbnail{
    max-width: 100%;
}

footer{
    background-color: #2E1452;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 48px;
    font-weight: bold;
}

/* Payment */

/* .container{
    padding: 10px 50px;
}

.card{
    background-color: #2E1452;
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    margin-top: 30px;
}

input, select{
    display: inline-block;
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

input[name="norek"]{
    width: 70%;
}

select{
width: 29%;
}

input[type="submit"]{
    margin: 15px 0;
} */
